
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
}

nav {
	width: 100vw;
	position: absolute;
	background-color: #507DBC;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 1rem;
	display: flex; 
}

nav ul li {
	margin-left: 2rem;
}

nav ul li:first-child {
	margin-left: 0rem;
	margin-right: auto;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

a.brand {
	font-size: 16px;
	font-weight: bold;
} 
section.welcome {
	width: 100vw;
	height: 100vh;
	background: url("../images/tikilogo1web.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
section.about {
	padding-left: 18rem;	
	font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
section.about p {
	font-size: 16px;
	font-display: block;
	padding-right: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

section.footer {
	background:url("../images/tikilogo1web.jpg");
	background-color: #507DBC;
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	width: 100vw;
	height: 40vh;
}
